.card {
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(245, 5, 5, 0.789);
  background-color: #4D5359;
  padding: 20px;
  margin: 15px;
  width: 350px;
  text-align: center;
  min-height: 100%;
  overflow: auto;
}
.cardtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  animation: glow 2s infinite alternate;
}
.card img {
  border-radius: 10px;
  margin-bottom: 15px;
  width: 100%;
}
.score {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.score span {
  width: 40px; 
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(93 203 130);
  background-color: rgb(93 203 130);
  border-radius: 50%;
  padding: 5px;
  font-weight: bold;
  color: #04090F
}
.cardcontent {
  font-size: 16px;
  text-align: left;
  text-align: justify;
  height: 300px;
  overflow-y: auto;
}

.card:hover {
  
  transition: .5s ease-in-out;
}


/* --- Media queries --- */
@media (min-width: 768px) {
 .card {
  display: grid;
  grid-template-rows: auto 1fr; 
  grid-template-columns: 0.5fr 1fr; 
  grid-gap: 20px;
  text-align: center;

  width: 900px;
 }
 
 .cardtitle {
  font-size: 24px;
  font-weight: bold;
  grid-row: 1;
  grid-column: 1 / span 2; 
}
.card img {
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}


.cardcontent {
  font-size: 16px;
  text-align: left;
  text-align: justify;
}
}

@keyframes glow {
  0% {
    color: #A31319;
  }
  100% {
    color:  #04090F
  }

}


/* --- Post --- */
.cardPost {
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(245, 5, 5, 0.789);
  background-color: #4D5359;
  padding: 10px;
  margin: 15px;
  text-align: center;
  min-height: 100%;
}
.author {
  font-style: italic;
  font-size: 12px;
}
.cardMetaData {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  text-align: left;
  color: rgba(255, 255, 255, 0.678);  
  margin-bottom: 2px;
}
.avatarContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.avatarContainer img {
  width: 100px;
  height: auto;
  top: -10px;
}
.cardPost .cardMetaData a {
  color: #A31319
}
.cardMetaData a:hover {
  color: inherit
}
.cardPost img {
  border-radius: 10px;
  width: 100%
}
.cardcontentPost {
  font-size: 16px;
  text-align: left;
  text-align: auto;
}