.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border-top: dotted 0.5px #A31319;
  padding: 7px;
}
.container img {
  width: 25px;
  filter:invert(1)
}