
.container {
  position: relative;
  border-radius: 5px;

}
.content {
  position: absolute;
  z-index: 1;
  background-color: #04090f;
  padding-bottom: 5px;
  
}
.container li {
  list-style-type: none;
  text-align: left;
  margin-left: 5px;
}
.container ul {
  width: auto;
  margin-right: 5px;
  text-wrap: nowrap;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;

}
.menu img {
  width: 50px;
}
.menu:hover {
  color:#A31319
}
