.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: #04090F;
  border-bottom: dotted 0.5px #A31319;
}
.navContainer h1 {
  flex-basis: 1;
  margin-right: 7px;

}
.navContainer p {
  font-size: 17px
}
/* .filler {
  width: 70px;
} */