.container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin-top: 10px;
  align-items:center;
  min-height: 100vh;
  box-sizing: border-box;
}

.container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .container ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    
  }
}
@media (min-width: 1024px) {

}